absl-py==2.3.1
aiobotocore==2.24.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
alabaster==1.0.0
anndata==0.12.2
annotated-types==0.7.0
anyio==4.11.0
app-model==0.4.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array-api-compat==1.12.0
arrow==1.3.0
asciitree==0.3.3
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.5
bermuda==0.1.6
bioimageio.core==0.9.2
bioimageio.spec==0.5.5.4
bleach==6.2.0
blosc==1.11.3
botocore==1.40.18
btrack==0.7.0rc1
build==1.3.0
cachey==0.2.1
cellpose==3.1.1.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cloudpickle==3.1.1
colorcet==3.1.0
comm==0.2.3
contourpy==1.3.3
csbdeep==0.7.4
cvxopt==1.3.2
cycler==0.12.1
Cython==3.1.4
dask==2024.11.2
dask-expr==1.1.19
dask-image==2024.5.3
datashader==0.18.2
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
dnspython==2.8.0
docrep==0.3.2
docstring_parser==0.17.0
docutils==0.21.2
efel==5.7.19
email-validator==2.3.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
fasteners==0.20
fastjsonschema==2.21.2
fastremap==1.17.5
filelock==3.19.1
fill_voids==2.1.1
flatbuffers==25.2.10
flexcache==0.3
flexparser==0.4
fonttools==4.60.0
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.7.0
fsspec==2025.9.0
gast==0.6.0
genericache==0.5.2
geopandas==1.1.1
google-pasta==0.2.0
grpcio==1.75.0
h11==0.16.0
h5py==3.14.0
hdmf==4.1.0
HeapDict==1.0.1
hsluv==5.0.4
httpcore==1.0.9
httpx==0.28.1
idna==3.10
igraph==0.11.9
imagecodecs==2025.8.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
in-n-out==0.2.1
inflect==7.5.0
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter_client==8.6.3
jupyter-console==6.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keras==3.11.3
kiwisolver==1.4.9
langchain==0.3.27
langchain-core==0.3.76
langchain-text-splitters==0.3.11
langsmith==0.4.31
lark==1.3.0
lazy_loader==0.4
legacy-api-wrap==1.4.1
leidenalg==0.10.2
libclang==18.1.1
llvmlite==0.45.0
locket==1.0.0
loguru==0.7.3
lxml==6.0.2
lxml_html_clean==0.4.2
magicgui==0.10.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
matplotlib-scalebar==0.9.0
mdurl==0.1.2
mistune==3.1.4
ml_dtypes==0.5.3
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
multipledispatch==1.0.0
multiscale_spatial_image==2.0.2
n2v==0.3.3
namex==0.1.0
napari==0.6.4
napari-animation==0.0.9
napari-console==0.1.3
napari-plugin-engine==0.2.0
napari-plugin-manager==0.1.6
napari-svg==0.2.1
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neo==0.14.2
nest-asyncio==1.6.0
networkx==3.5
notebook==7.4.5
notebook_shim==0.2.4
npe2==0.7.9
numba==0.62.0
numcodecs==0.15.1
numpy==1.26.4
numpydoc==1.9.0
ome-types==0.5.3
ome-zarr==0.11.1
omnipath==1.0.12
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.3
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
param==2.2.1
parso==0.8.5
partd==1.4.2
patsy==1.0.1
pexpect==4.9.0
pillow==11.3.0
PIMS==0.7
Pint==0.25
pip==25.2
platformdirs==4.4.0
pooch==1.8.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.1
psutil==7.1.0
psygnal==0.14.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyclesperanto_prototype==0.24.5
pyconify==0.2.1
pycparser==2.23
pyct==0.5.0
pydantic==2.11.9
pydantic-compat==0.1.2
pydantic_core==2.33.2
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
Pygments==2.19.2
pynndescent==0.5.13
pynwb==3.1.2
pyogrio==0.11.1
pyopencl==2025.2.6
PyOpenGL==3.1.10
pyparsing==3.2.5
pyproj==3.7.2
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-fcl==0.7.0.8
python-json-logger==3.3.0
pytools==2025.2.4
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.1.0
qtconsole==5.7.0
QtPy==2.4.3
quantities==0.16.2
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
roifile==2025.5.10
roman-numerals-py==3.1.0
rpds-py==0.27.1
rtree==1.4.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
ruyaml==0.91.0
s3fs==2025.9.0
scanpy==1.11.4
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
segment-anything==1.0
Send2Trash==1.8.3
session-info2==0.2.2
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
simpleitk==2.5.2
siphash24==1.8
six==1.17.0
skan==0.13.0
slicerator==1.1.0
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8
sparse==0.17.0
spatial_image==1.2.1
spatialdata==0.4.0
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.43
squidpy==1.6.5
stack-data==0.6.3
statsmodels==0.14.5
superqt==0.7.6
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2025.9.20
tinycss2==1.4.0
tomli_w==1.2.0
toolz==1.0.0
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transforms3d==0.4.2
triangle==20250106
trimesh==4.8.2
typeguard==4.4.4
typer==0.19.2
types-python-dateutil==2.9.0.20250822
typing_extensions==4.15.0
typing-inspection==0.4.1
tzdata==2025.2
umap-learn==0.5.9.post2
uri-template==1.3.0
urllib3==2.5.0
validators==0.35.0
vispy==0.15.2
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.3
xarray==2024.11.0
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
xsdata==24.3.1
yarl==1.20.1
zarr==2.18.7
zipp==3.23.0
zstandard==0.25.0
