anaconda-anon-usage==0.7.2
anaconda-auth==0.8.6
anaconda-cli-base==0.5.2
annotated-types==0.6.0
archspec==0.2.3
boltons==25.0.0
brotlicffi==1.0.9.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.3.2
click==8.2.1
colorama==0.4.6
conda==25.7.0
conda-anaconda-telemetry==0.3.0
conda-anaconda-tos==0.2.2
conda-content-trust==0.2.0
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.12.0
cryptography==45.0.5
distro==1.9.0
frozendict==2.4.2
idna==3.7
jaraco.classes==3.4.0
jaraco.context==0.0.0
jaraco.functools==4.1.0
jsonpatch==1.33
jsonpointer==3.0.0
keyring==25.6.0
libmambapy==2.0.5
markdown-it-py==2.2.0
mdurl==0.1.0
menuinst==2.3.1
more-itertools==10.3.0
packaging==25.0
pip==25.1
pkce==1.0.3
platformdirs==4.3.7
pluggy==1.5.0
pycosat==0.6.6
pycparser==2.21
pydantic==2.11.7
pydantic_core==2.33.2
pydantic-settings==2.6.1
Pygments==2.19.1
PyJWT==2.10.1
PySocks==1.7.1
python-dotenv==1.1.0
readchar==4.0.5
requests==2.32.4
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
semver==3.0.2
setuptools==78.1.1
shellingham==1.5.0
tomli==2.2.1
tqdm==4.67.1
truststore==0.10.1
typer==0.9.0
typing_extensions==4.12.2
typing-inspection==0.4.0
urllib3==2.5.0
wheel==0.45.1
zstandard==0.23.0
